gradio==5.21.0
langgraph==0.3.10
langchain==0.3.24
langchain-huggingface==0.1.2
accelerate==1.6.0
autoawq @ git+https://github.com/casper-hansen/AutoAWQ.git
tiktoken==0.9.0
chromadb==0.6.3
langchain-chroma==0.2.3
beautifulsoup4==4.13.3
duckduckgo-search==8.0.1
docling==2.31.0
pymupdf==1.25.5
pymupdf4llm==0.0.21
mkdocstrings-python==1.16.10
mkdocs-material==9.6.12
mkdocs-gen-files==0.5.0
mkdocs-literate-nav==0.6.2
mkdocs-include-markdown-plugin==7.1.5